/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Font Embed */

@font-face {
    font-family: '04b03Regular';
    src: url('../fonts/04b_03__-webfont.eot');
    src: url('../fonts/04b_03__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/04b_03__-webfont.woff') format('woff'),
         url('../fonts/04b_03__-webfont.ttf') format('truetype'),
         url('../fonts/04b_03__-webfont.svg#04b03Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* My CSS */

html { 
	height: 100%; width: 100%;
}

body { 
	width: 100%;		
	
	font-family: "04b03Regular", monospace;
	font-size: 36px;
	line-height: 38px;
	
	color: #ffffff;
	background-color: #05051d;
	
	margin: 0; padding: 0; border: 0;
}

#overlay {

	position: fixed;
	width: 100%;
	height: 100%;
	background: url('../images/stars.png') transparent;	
}

a, a:visited {

	color: #fff200;
	text-decoration: none;
}
div {

	display: block;
	position: relative;		
}

div#container {
	width: 511px;
	margin: 200px auto 0 auto;
	text-align: center;
}

div#title {
	margin: 20px 0 20px 0;
	font-size: 44px;
	color: #fff200;
}

div#sprite {
	margin: 0 0 20px 0;
}

div.class {

	display: block;
	position: absolute;
	
	//z-index: -10;
	
	top: 50px;
	left: 50px;
	
	height: 8px;
	width: 8px;
	
	background-color: #cccccc;	
}
