.afs-droid-serif { font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif; ;}

.afs-fontin-sans { font-family: "Fontin Sans", "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif; font-size: 1.061em;}

.afs-kontrapunkt { font-family: "Kontrapunkt", Rockwell, serif; font-size: 1.153em;}

.afs-droid-sans-mono { font-family: "Droid Sans Mono", Menlo, Courier New, Courier, Mono, monospace; font-size: 1.000em;}


@font-face {
	
	font-family: 'Droid Serif';
	src: url('../fonts/DroidSerif/DroidSerif-Bold-webfont.eot?') format('eot');
	src: url('../fonts/DroidSerif/DroidSerif-Bold-webfont.woff') format('woff'), 		url('../fonts/DroidSerif/DroidSerif-Bold-webfont.ttf') format('truetype'), 		url('../fonts/DroidSerif/DroidSerif-Bold-webfont.svg#webfontg2CzGQfw')format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	
	font-family: 'Droid Serif';
	src: url('../fonts/DroidSerif/DroidSerif-BoldItalic-webfont.eot?') format('eot');
	src: url('../fonts/DroidSerif/DroidSerif-BoldItalic-webfont.woff') format('woff'), 
		url('../fonts/DroidSerif/DroidSerif-BoldItalic-webfont.ttf') format('truetype'), 
		url('../fonts/DroidSerif/DroidSerif-BoldItalic-webfont.svg#webfontma7TYoAP') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	
	font-family: 'Droid Serif';
	src: url('../fonts/DroidSerif/DroidSerif-Italic-webfont.eot?') format('eot');
	src: url('../fonts/DroidSerif/DroidSerif-Italic-webfont.woff') format('woff'), 
		url('../fonts/DroidSerif/DroidSerif-Italic-webfont.ttf') format('truetype'), 
		url('../fonts/DroidSerif/DroidSerif-Italic-webfont.svg#webfontK4uAlNrc') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	
	font-family: 'Droid Serif';
	src: url('../fonts/DroidSerif/DroidSerif-Regular-webfont.eot?') format('eot');
	src: url('../fonts/DroidSerif/DroidSerif-Regular-webfont.woff') format('woff'), 		url('../fonts/DroidSerif/DroidSerif-Regular-webfont.ttf') format('truetype'), 
		url('../fonts/DroidSerif/DroidSerif-Regular-webfont.svg#webfont5XtKyzGt') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	
    font-family: 'FontinSansBold';
    src: url('../fonts/FontinSans/fontinsans-bold-webfont.eot');
    src: url('../fonts/FontinSans/fontinsans-bold-webfont.eot?iefix') format('eot'),
         url('../fonts/FontinSans/fontinsans-bold-webfont.woff') format('woff'),
         url('../fonts/FontinSans/fontinsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/FontinSans/fontinsans-bold-webfont.svg#webfont7HtDPnDM') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FontinSansBoldItalic';
    src: url('../fonts/FontinSans/fontinsans-bolditalic-webfont.eot');
    src: url('../fonts/FontinSans/fontinsans-bolditalic-webfont.eot?iefix') format('eot'),
         url('../fonts/FontinSans/fontinsans-bolditalic-webfont.woff') format('woff'),
         url('../fonts/FontinSans/fontinsans-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/FontinSans/fontinsans-bolditalic-webfont.svg#webfontXZMMOytc') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FontinSansItalic';
    src: url('../fonts/FontinSans/fontinsans-italic-webfont.eot');
    src: url('../fonts/FontinSans/fontinsans-italic-webfont.eot?iefix') format('eot'),
         url('../fonts/FontinSans/fontinsans-italic-webfont.woff') format('woff'),
         url('../fonts/FontinSans/fontinsans-italic-webfont.ttf') format('truetype'),
         url('../fonts/FontinSans/fontinsans-italic-webfont.svg#webfont21lV2YHm') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FontinSansRegular';
    src: url('../fonts/FontinSans/fontinsans-regular-webfont.eot');
    src: url('../fonts/FontinSans/fontinsans-regular-webfont.eot?iefix') format('eot'),
         url('../fonts/FontinSans/fontinsans-regular-webfont.woff') format('woff'),
         url('../fonts/FontinSans/fontinsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/FontinSans/fontinsans-regular-webfont.svg#webfontVsC5Mjk4') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	
	font-family: 'Kontrapunkt';
	src: url('../fonts/Kontrapunkt/Kontrapunkt-Bold-webfont.eot?') format('eot');
	src: url('../fonts/Kontrapunkt/Kontrapunkt-Bold-webfont.woff') format('woff'), 		url('../fonts/Kontrapunkt/Kontrapunkt-Bold-webfont.ttf') format('truetype'), 
		url('../fonts/Kontrapunkt/Kontrapunkt-Bold-webfont.svg#webfontnUzizZpw') format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	
	font-family: 'Kontrapunkt';
	src: url('../fonts/Kontrapunkt/Kontrapunkt-Light-webfont.eot?') format('eot');
	src: url('../fonts/Kontrapunkt/Kontrapunkt-Light-webfont.woff') format('woff'), 		url('../fonts/Kontrapunkt/Kontrapunkt-Light-webfont.ttf') format('truetype'), 
		url('../fonts/Kontrapunkt/Kontrapunkt-Light-webfont.svg#webfonteG78Fz3P') format('svg');
	font-weight: 200;
	font-style: normal;
}


@font-face {
	
	font-family: 'Kontrapunkt';
	src: url('../fonts/Kontrapunkt/Kontrapunkt-LightItalic-webfont.eot?') format('eot');
	src: url('../fonts/Kontrapunkt/Kontrapunkt-LightItalic-webfont.woff') format('woff'), 
		url('../fonts/Kontrapunkt/Kontrapunkt-LightItalic-webfont.ttf') format('truetype'), 
		url('../fonts/Kontrapunkt/Kontrapunkt-LightItalic-webfont.svg#webfontbExBZL7z') format('svg');
	font-weight: 200;
	font-style: italic;
}



@font-face {
	
	font-family: 'Droid Sans Mono';
	src: url('../fonts/DroidSansMono/DroidSansMono-webfont.eot');
	src: url('../fonts/DroidSansMono/DroidSansMono-webfont.woff') format('woff'), 		url('../fonts/DroidSansMono/DroidSansMono-webfont.ttf') format('truetype'), 		url('../fonts/DroidSansMono/DroidSansMono-webfont.svg#webfont9N3UDjKi') format('svg');
	font-weight: 400;
	font-style: normal;
}