html { 
	height: 100%; width: 100%;
}

body { 
	width: 100%; height: 70%; 		
	
	font-size: .8em;
	color: #ffffff;
	background-color: #111313;
	text-align: center;
	
	margin: 0; padding: 0; border: 0;
}

a:link, a:visited {
	color: #97d38b;
	text-decoration: none;
}

a:hover {
	color: #A8EB9B;
	text-decoration: none;	
}

div {

	display: block;
	position: relative;		
}

#header {

	margin-left:auto;
	margin-right:auto;
	margin-top: 200px;
	
	font-size: 3em;
	font-family: "Fontin Sans", "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
}

#content {

	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	
	font-family: "Fontin Sans", "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
	font-size: 1.5em;	
}		