/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */

html { 
	height: 100%; width: 100%;
}

body { 
	width: 100%;		
	
	font-size: 13px;
	color: #111313;
	background-color: #b9e5fb;
	
	margin: 0; padding: 0; border: 0;
}

a, a:visited {

	color: #196dff;
	text-decoration: none;
}

div {

	display: block;
	position: relative;		
}

h1 {
	
	font-family: "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
	font-size: 22px;
	color: #196dff;
	
	margin: 0 0 12px 0;
}

h2 {
	
	font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
	font-size: 16px;
	color: #111313;
	
	margin: 0 0 12px 0;
	
}

p {

	margin: 1em 0;	
	opacity: 1;	
}

#container {
	
	display: block;
	position: relative;
	
	margin: 0 auto 0 auto;
	
	width: 926px;
		
}

#copyright {

	margin: 12px auto 0 auto;
	
	height: 23px;
	width: 366px;
	
	font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
	font-size: 1em;	
}

.content {

	position: relative;
	
	width: 680px;
	
	margin: 0 auto 0 auto;
	padding: 10px 25px 10px 25px;
	
	background: rgba(255, 255, 255, 0.8);
	
	font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
	font-size: 1em;
	line-height: 1.3em;	
}

.subheader {

	//text-align: center;
	float: left;
	
	width: 110px;
	height: 100%;
	
	padding: 12px 0 12px 0;
}

.subcontents {

	width: 546px;
	margin: 0 0 0 0px;
	padding: 0 0 0 0;
	border-left: 1px solid #cccccc;
	float: right;
}

.head_banner {

	display: block;
	
	height: 295px;
	margin: 0 auto 0 auto;

}

div.head_banner #tail {

	display: block;
		
	background: url('../images/sprites.png') -237px -103px no-repeat;
	
	left: 309px;
	top: 2px;
	
	width: 64px;
	height: 92px;
}

div.head_banner #balloon {
	
	display: block;
	position: absolute;

	top: 12px;
	left: 0px;

	width: 275px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-msie-border-radius: 10px;
	border-radius: 10px;
	
	background: white;
	
	font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
	line-height: 14pt;
	padding: 14px;
}	

div.head_banner #hatch_spot {

	display: block;
	
	background: url('../images/sprites.png') -10px -626px no-repeat;
	
	top: -40px;
	left: 172px;
	
	width: 500px;
	height: 234px;
}

div.head_banner #pizza_spot {

	display: block;
	
	background: url('../images/sprites.png') -518px -626px no-repeat;
	
	top: -40px;
	left: 296px;
	
	width: 350px;
	height: 234px;
}

div.head_banner #draw_spot {

	display: block;
	
	background: url('../images/sprites.png') -58px -873px no-repeat;
	
	top: -40px;
	left: 298px;
	
	width: 350px;
	height: 234px;
}

div.head_banner #background_spot {

	display: block;
	position: absolute;
	
	background: url('../images/sprites.png') -54px -221px no-repeat;
	
	z-index: -1;
	
	top: 120px;
	left: 0;
	
	width: 926px;
	height: 367px;
}

.clear {
 
	clear: both;
}

.title {
	
	margin: 5px 10px 5px 10px;
}

.thumbstore {

	float: left;
	
	margin: 12px 8px 15px 9px;
}


.thumb {
	
	border-top: 6px solid #b9e5fb;
	border-right: 6px solid #b9e5fb;
	border-bottom: 6px solid #b9e5fb;
	border-left: 6px solid #b9e5fb;
	float: left;
	
	height: 150px;
	width: 150px;
	
	margin: 12px 0px 12px 20px;
}

.thumb a, .thumbstore a {

	font-size: 0;
	color: transparent;
	
	width: 100%;
	height: 100%;
}

.empty {
	
	border-top: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid transparent;
	float: left;
	
	height: 150px;
	width: 150px;
	
	margin: 12px 0px 12px 20px;
}

.description {
	
	float: right;

	width: 208px;
	padding: 12px 0px 3px 0;
}

.googlecart-add-button {

	left: 0px;
	margin: 0 0 0 0;
}

td {

	padding: 3px;
}

#navigation ul, #navigation li, #navigation a {
    
    display: block;
    position: relative;
}

#navigation ul {

	height: 60px;
	width: 480px;
	
	margin: 0 auto 0 auto;
}

#navigation li {

	position: absolute;
	
	z-index: 1;
}

#navigation a {

	font-size: 0;
	color: transparent;
	
	width: 100%;
	height: 100%;
}

#navigation li.gallery {

	top: 0;
	left: 0;
	
	width: 150px;
	height: 48px;	
}

#navigation li.gallery a {
 
    background: url('../images/sprites.png') 0 0 no-repeat;
}

#navigation li.gallery a:hover {

	background: url('../images/sprites.png') 0 -51px no-repeat;
}

#navigation li.about {

	top: 0;
	left: 150px;
	
	width: 118px;
	height: 48px;	
}

#navigation li.about a {
 
    background: url('../images/sprites.png') -150px 0 no-repeat;
}

#navigation li.about a:hover {

	background: url('../images/sprites.png')-150px -51px no-repeat;	
}

#navigation li.store {

	top: 0;
	left: 266px;
	
	width: 114px;
	height: 48px;	
}

#navigation li.store a {
 
    background: url('../images/sprites.png') -267px 0 no-repeat;
}

#navigation li.store a:hover {

	background: url('../images/sprites.png') -267px -51px no-repeat;	
}

#navigation li.blog {

	top: 0;
	left: 380px;
	
	width: 95px;
	height: 48px;	
}

#navigation li.blog a {
 
    background: url('../images/sprites.png') -381px 0 no-repeat;
}

#navigation li.blog a:hover {

	background: url('../images/sprites.png') -381px -51px no-repeat;	
}

#overlay {

	position: fixed;	
}

.booktitle {

	display: inline;
	position: relative;
	
	font-style: italic;
}

.hide {

	display: none;	
}

/* Content for Store */

.cis1thumb {
	
	height: 293px;
	width: 217px;
}

.cis1thumb a {
	
	display: block;

	background: url('../images/sprites.png') -1024px -0px no-repeat;	
}

.cis1intthumb {
	
	height: 293px;
	width: 217px;
}

.cis1intthumb a {
	
	display: block;
	
	background: url('../images/sprites.png') -1246px -0px no-repeat;
}

.cis2thumb {
	
	height: 293px;
	width: 217px;
}

.cis2thumb a {
	
	display: block;

	background: url('../images/sprites.png') -1470px -0px no-repeat;	
}

.cis2intthumb {
	
	height: 293px;
	width: 217px;
}

.cis2intthumb a {
	
	display: block;
	
	background: url('../images/sprites.png') -1693px -0px no-repeat;
}

.cis3thumb {
	
	height: 293px;
	width: 217px;
}

.cis3thumb a {
	
	display: block;

	background: url('../images/sprites.png') -1024px -301px no-repeat;	
}

.cis3intthumb {
	
	height: 293px;
	width: 217px;
}

.cis3intthumb a {
	
	display: block;
	
	background: url('../images/sprites.png') -1246px -301px no-repeat;
}

.mhthumb {
	
	height: 250px;
	width: 217px;
}

.mhthumb a {
	
	display: block;

	background: url('../images/sprites.png') -1470px -301px no-repeat;	
}

.mhintthumb {
	
	height: 250px;
	width: 217px;
}

.mhintthumb a {
	
	display: block;
	
	background: url('../images/sprites.png') -1693px -301px no-repeat;
}

.avastthumb {
	
	height: 315px;
	width: 217px;
}

.avastthumb a {
	
	display: block;

	background: url('../images/sprites.png') -1024px -600px no-repeat;	
}

.avastintthumb {
	
	height: 315px;
	width: 217px;
}

.avastintthumb a {
	
	display: block;
	
	background: url('../images/sprites.png') -1245px -600px no-repeat;
}

/* Content for Gallery */

div.thumb.chimpcy a {
	
	display: block;

	background: url('../images/sprites.png') 0px -1131px no-repeat;	
}

div.thumb.ss2 a {
	
	display: block;

	background: url('../images/sprites.png') -150px -1131px no-repeat;	
}

div.thumb.showersecrets a {
	
	display: block;

	background: url('../images/sprites.png') -300px -1131px no-repeat;	
}

div.thumb.baby a {
	
	display: block;

	background: url('../images/sprites.png') -450px -1131px no-repeat;	
}

div.thumb.concretes a {
	
	display: block;

	background: url('../images/sprites.png') -600px -1131px no-repeat;	
}

div.thumb.ss1 a {
	
	display: block;

	background: url('../images/sprites.png') -750px -1131px no-repeat;	
}

div.thumb.jenslek a {
	
	display: block;

	background: url('../images/sprites.png') 0px -1281px no-repeat;	
}

div.thumb.wayfarers a {
	
	display: block;

	background: url('../images/sprites.png') -150px -1281px no-repeat;	
}

div.thumb.macaque a {
	
	display: block;

	background: url('../images/sprites.png') -300px -1281px no-repeat;	
}

div.thumb.lutescon a {
	
	display: block;

	background: url('../images/sprites.png') -450px -1281px no-repeat;	
}

div.thumb.thebeatus a {
	
	display: block;

	background: url('../images/sprites.png') -600px -1281px no-repeat;	
}

div.thumb.troll a {
	
	display: block;

	background: url('../images/sprites.png') -750px -1281px no-repeat;	
}

div.thumb.damonbot a {
	
	display: block;

	background: url('../images/sprites.png') 0px -1431px no-repeat;	
}

div.thumb.gitcard a {
	
	display: block;

	background: url('../images/sprites.png') -150px -1431px no-repeat;	
}

div.thumb.megadonna a {
	
	display: block;

	background: url('../images/sprites.png') -300px -1431px no-repeat;
}

div.thumb.piratehook1 a {
	
	display: block;

	background: url('../images/sprites.png') -450px -1431px no-repeat;	
}

div.thumb.piratehook2 a {
	
	display: block;

	background: url('../images/sprites.png') -600px -1431px no-repeat;	
}

div.thumb.serverdm a {
	
	display: block;

	background: url('../images/sprites.png') -750px -1431px no-repeat;	
}

div.thumb.selfportrait a {
	
	display: block;

	background: url('../images/sprites.png') 0px -1581px no-repeat;	
}

div.thumb.cisbanner a {
	
	display: block;

	background: url('../images/sprites.png') -150px -1581px no-repeat;	
}