/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */

html { 
	height: 100%; width: 100%;
}

body { 
	width: 100%;		
	
	font-size: 13px;
	color: #111313;
	background-color: #b9e5fb;
	
	margin: 0; padding: 0; border: 0;
}

a, a:visited {

	color: #196dff;
	text-decoration: none;
}
div {

	display: block;
	position: relative;		
}

h1 {
	
	font-family: "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
	font-size: 24px;
	color: #196dff;
	
	margin: 0 0 12px 0;
}

h2 {
	
	font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
	font-size: 16px;
	color: #111313;
	
	margin: 0 0 12px 0;
	
}

#container {
	
	display: block;
	position: relative;
	
	margin: 0 auto;
	
	width: 1024px;
		
}

#copyright {

	margin: 36px auto 0 auto;
	
	height: 23px;
	width: 267px;
	
	font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
	font-size: 1em;	
}

.transparent {
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	width: 680px;
	height: 100%;
	
	margin: 0 auto 0 auto;
	padding: 10px 10px 10px 10px;
	
	background: #ffffff;
	opacity: 0.7;	
}

.content {

	position: relative;
	
	width: 642px;
	
	margin: 0 auto 0 auto;
	padding: 20px 20px 20px 20px;
	
	background: rgba(255, 255, 255, 0.8);
	
	font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
	font-size: 1em;	
}

.subcontents {

	margin: 0 0 0 24px;
}

.head_banner {

	display: block;
	
	height: 295px;

}

div.head_banner #tail {

	display: block;
		
	background: url('../images/sprites.png') -237px -103px no-repeat;
	
	left: 372px;
	top: 2px;
	
	width: 64px;
	height: 92px;
}

div.head_banner #balloon {
	
	display: block;
	position: absolute;

	top: 12px;
	left: 62px;

	width: 275px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-msie-border-radius: 10px;
	border-radius: 10px;
	
	background: white;
	
	font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
	line-height: 14pt;
	padding: 14px;
}	

div.head_banner #hatch_spot {

	display: block;
	
	background: url('../images/sprites.png') -10px -626px no-repeat;
	
	top: -40px;
	left: 237px;
	
	width: 500px;
	height: 234px;
}

div.head_banner #pizza_spot {

	display: block;
	
	background: url('../images/sprites.png') -518px -626px no-repeat;
	
	top: -40px;
	left: 385px;
	
	width: 350px;
	height: 234px;
}

div.head_banner #draw_spot {

	display: block;
	
	background: url('../images/sprites.png') -58px -873px no-repeat;
	
	top: -40px;
	left: 380px;
	
	width: 350px;
	height: 234px;
}

div.head_banner #background_spot {

	display: block;
	position: absolute;
	
	background: url('../images/sprites.png') -54px -221px no-repeat;
	
	z-index: -1;
	
	top: 120px;
	left: 49px;
	
	width: 926px;
	height: 367px;
}

.clear {
 
	clear: both;
}

#avastthumb {

	float: left;
	background: url('../images/sprites.png') -875px -633px no-repeat;
	
	height: 220px;
	width: 150px;
	
	margin: 10px 10px 10px 10px;
}

#mhthumb {

	float: left;
	background: url('../images/sprites.png') -875px -853px no-repeat;
	
	height: 171px;
	width: 150px;
	
	margin: 10px 10px 10px 10px;
}

.thumb {

	border: 2px solid #111313;
	float: left;
	
	height: 40px;
	width: 80px;
	
	margin: 0 4px 12px 0;
}

.thumb a {

	font-size: 0;
	color: transparent;
	
	width: 100%;
	height: 100%;
}

.description {

	padding: 10px 10px 10px 10px;
}

.googlecart-add-button {

	left: 170px;
	margin: 5px 0 0 0;
}

.aboutText {

	padding: 0 0 10px 0;
	
	opacity: 1;	
}

td {

	padding: 3px;
}

#navigation ul, #navigation li, #navigation a {
    
    display: block;
    position: relative;
}

#navigation ul {

	height: 60px;
	width: 480px;
	
	margin: 0 auto 0 auto;
}

#navigation li {

	position: absolute;
	
	z-index: 1;
}

#navigation a {

	font-size: 0;
	color: transparent;
	
	width: 100%;
	height: 100%;
}

#navigation li.gallery {

	top: 0;
	left: 0;
	
	width: 150px;
	height: 48px;	
}

#navigation li.gallery a {
 
    background: url('../images/sprites.png') 0 0 no-repeat;
}

#navigation li.gallery a:hover {

	background: url('../images/sprites.png') 0 -51px no-repeat;
}

#navigation li.about {

	top: 0;
	left: 150px;
	
	width: 116px;
	height: 48px;	
}

#navigation li.about a {
 
    background: url('../images/sprites.png') -150px 0 no-repeat;
}

#navigation li.about a:hover {

	background: url('../images/sprites.png')-150px -51px no-repeat;	
}

#navigation li.store {

	top: 0;
	left: 266px;
	
	width: 114px;
	height: 48px;	
}

#navigation li.store a {
 
    background: url('../images/sprites.png') -266px 0 no-repeat;
}

#navigation li.store a:hover {

	background: url('../images/sprites.png') -266px -51px no-repeat;	
}

#navigation li.blog {

	top: 0;
	left: 380px;
	
	width: 95px;
	height: 48px;	
}

#navigation li.blog a {
 
    background: url('../images/sprites.png') -380px 0 no-repeat;
}

#navigation li.blog a:hover {

	background: url('../images/sprites.png') -380px -51px no-repeat;	
}

#overlay {

	position: fixed;	
}

.booktitle {

	display: inline;
	position: relative;
	
	font-style: italic;
}

.hide {

	display: none;	
}

/* Content for Gallery */

div.thumb.baby_p1 a {
	
	display: block;

	background: url('../images/sprites.png') 0 -1128px no-repeat;	
}

div.thumb.baby_p2 a {
	
	display: block;

	background: url('../images/sprites.png') -80px -1128px no-repeat;	
}

div.thumb.baby_p3 a {
	
	display: block;

	background: url('../images/sprites.png') -160px -1128px no-repeat;	
}

div.thumb.baby_p4 a {
	
	display: block;

	background: url('../images/sprites.png') -240px -1128px no-repeat;	
}

div.thumb.showersecrets a {
	
	display: block;

	background: url('../images/sprites.png') -320px -1128px no-repeat;	
}

div.thumb.concretes a {
	
	display: block;

	background: url('../images/sprites.png') -400px -1128px no-repeat;	
}

div.thumb.submarine_p1 a {
	
	display: block;

	background: url('../images/sprites.png') -480px -1128px no-repeat;	
}

div.thumb.submarine_p2 a {
	
	display: block;

	background: url('../images/sprites.png') -560px -1128px no-repeat;	
}

div.thumb.submarine_p3 a {
	
	display: block;

	background: url('../images/sprites.png') -640px -1128px no-repeat;	
}

div.thumb.submarine_p4 a {
	
	display: block;

	background: url('../images/sprites.png') -720px -1128px no-repeat;	
}

div.thumb.submarine_p5 a {
	
	display: block;

	background: url('../images/sprites.png') -800px -1128px no-repeat;	
}

div.thumb.submarine_p6 a {
	
	display: block;

	background: url('../images/sprites.png') -880px -1128px no-repeat;	
}

div.thumb.troll_gag a {
	
	display: block;

	background: url('../images/sprites.png') 0 -1168px no-repeat;	
}

div.thumb.damonbot a {
	
	display: block;

	background: url('../images/sprites.png') -80px -1168px no-repeat;	
}

div.thumb.duckman a {
	
	display: block;

	background: url('../images/sprites.png') -160px -1168px no-repeat;	
}

div.thumb.gitcard a {
	
	display: block;

	background: url('../images/sprites.png') -240px -1168px no-repeat;	
}

div.thumb.monsterhandler_cover a {
	
	display: block;

	background: url('../images/sprites.png') -320px -1168px no-repeat;	
}

div.thumb.strangeromance a {
	
	display: block;

	background: url('../images/sprites.png') -400px -1168px no-repeat;	
}

div.thumb.mountaingoats a {
	
	display: block;

	background: url('../images/sprites.png') -480px -1168px no-repeat;	
}

div.thumb.screenprint_bio a {
	
	display: block;

	background: url('../images/sprites.png') -560px -1168px no-repeat;	
}

div.thumb.bearjordan a {
	
	display: block;

	background: url('../images/sprites.png') -640px -1168px no-repeat;	
}

div.thumb.piratehook_1 a {
	
	display: block;

	background: url('../images/sprites.png') -720px -1168px no-repeat;	
}

div.thumb.piratehook_2 a {
	
	display: block;

	background: url('../images/sprites.png') -800px -1168px no-repeat;	
}

div.thumb.python1 a {
	
	display: block;

	background: url('../images/sprites.png') -880px -1168px no-repeat;	
}

div.thumb.python2 a {
	
	display: block;

	background: url('../images/sprites.png') -0px -1208px no-repeat;	
}

div.thumb.python3 a {
	
	display: block;

	background: url('../images/sprites.png') -80px -1208px no-repeat;	
}

div.thumb.thebeatus_flyer a {
	
	display: block;

	background: url('../images/sprites.png') -160px -1208px no-repeat;	
}